# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python
# https://docs.microsoft.com/en-us/azure/devops/pipelines/process/conditions?view=azure-devops&tabs=yaml
# https://docs.microsoft.com/en-us/azure/devops/pipelines/build/variables?view=azure-devops&tabs=yaml
# Test
name: $(build.sourceBranch)-$(Date:yyyyMMdd)$(Rev:.r)

trigger:
  branches:
    include: 
    - trial

 
  
pool:
  vmImage: 'ubuntu-latest'

stages:
- stage: CICD 
  displayName: ->

  jobs:

 
  - job: DeliverDockerImage
    displayName: Deliver Docker Image
    steps:
      - checkout: none
      - script: echo Deliver Docker Image  

  - job: DeliverDockerImage1
    displayName: Deliver Docker Image1
    condition: and(succeeded(), eq(1, 2))
    steps:
      - checkout: none
      - script: echo Deliver Docker Image  1
      
  - job: BuildProjectSite
    displayName: Build Project Site
    dependsOn: 
    - DeliverDockerImage1
    condition: and(succeeded(), eq(1, 1))
               
    steps:
      - checkout: none
      - script: echo $(dependencies)
