# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python
#https://docs.microsoft.com/en-us/azure/devops/pipelines/process/conditions?view=azure-devops&tabs=yaml

name: $(build.sourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)

trigger:
  branches:
    include: 
    - develop
    - release*alpha*
    - release*beta*
    - release*rc
  paths:
    exclude: 
    # Exclude README.md from triggering content deployments
    - README.md

# no PR builds
pr: none



variables:
  isdevelop: $[contains(variables['Build.SourceBranch'], 'develop')]
  isreleasealpha: $[contains(variables['Build.SourceBranch'], 'alpha')]
  isreleasebeta: $[contains(variables['Build.SourceBranch'], 'beta')]
  isreleaserc: $[contains(variables['Build.SourceBranch'], 'rc')]
  
  
pool:
  vmImage: 'ubuntu-latest'

stages:
- stage: BuildAndDeploy
  jobs:
  - job: GitPull
    displayName: Git pull and make files available to pipeline process
    steps:
       - task: CopyFiles@2
         inputs:
           SourceFolder: '$(Build.SourcesDirectory)'
           contents: |
             src/**
             test/**
             requirements.txt
           targetFolder: $(Build.ArtifactStagingDirectory)
       - task: PublishPipelineArtifact@1
         inputs:
           path: $(Build.ArtifactStagingDirectory)
           artifact: product-pipeline-artifact

  - job: BuildPackage
    steps:
      - checkout: none
      - script: echo Build Package

  - job: ZipTest
    steps:
      - checkout: none
      - script: echo ZipTest

  - job: UnitTest
    condition: and(succeeded(), or(eq(variables['isreleasealpha'], true),eq(variables['isreleasebeta'], true),eq(variables['isreleaserc'], true)))
    steps:
      - checkout: none
      - script: echo Unit Test

  - job: TestRun
    condition: and(succeeded(), or(eq(variables['isreleasebeta'], true),eq(variables['isreleaserc'], true)))
    steps:
      - checkout: none
      - script: echo Test Run

  - job: AcceptanceTest
    condition: and(succeeded(), eq(variables['isreleaserc'], true))
    steps:
      - checkout: none
      - script: echo Acceptance Test

  - job: DistributionArchive
    steps:
      - checkout: none
      - script: echo DistributionArchive



