# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python
# https://docs.microsoft.com/en-us/azure/devops/pipelines/process/conditions?view=azure-devops&tabs=yaml
# https://elanderson.net/2020/05/azure-devops-pipelines-depends-on-with-conditionals-in-yaml/
name: $(build.sourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)

trigger:
  branches:
    include: 
    - development
    - releases/*
    
    paths:
    exclude: 
    # Exclude README.md from triggering content deployments
    - README.md

    # Include tags for CI
  tags:
    include:
    - '*'

# PR for the below target branches triggers linting and 
pr:
  branches:
    include:
    - develop
    - releases/*



variables:
  isdevelop: $[contains(variables['Build.SourceBranchName'], 'develop')]
  isreleasealpha: $[contains(variables['Build.SourceBranchName'], 'alpha')]
  isreleasebeta: $[contains(variables['Build.SourceBranchName'], 'beta')]
  isreleaserc: $[contains(variables['Build.SourceBranchName'], 'rc')]
  isprtrigger: $[contains(variables['Build.SourceBranchName'], 'merge')]
  istagtrigger: $[contains(variables['Build.SourceBranch'], 'tag')]
  
pool:
  vmImage: 'ubuntu-latest'

stages:
- stage: BuildAndDeploy

  jobs:
  - job: RunLint
    displayName: Run Lint - QC Checks
    condition: and(succeeded(), or(eq(variables['isprtrigger'], true),eq(variables['istagtrigger'], true))) 
    steps:
         - script: echo Build Package

  - job: GitPull
    displayName: Git pull and make files available to pipeline process
    steps:

       - task: Bash@3
         inputs:
           targetType: 'inline'
           script: |
             echo $(Build.SourceBranch)
             echo $(Build.SourceBranchName)
       - task: CopyFiles@2
         inputs:
           SourceFolder: '$(Build.SourcesDirectory)'
           contents: |
             src/**
             test/**
             requirements.txt
           targetFolder: $(Build.ArtifactStagingDirectory)
       - task: PublishPipelineArtifact@1
         inputs:
           path: $(Build.ArtifactStagingDirectory)
           artifact: product-pipeline-artifact
# PublishPipelineArtifact task packages source code and makes it available at $(System.ArtifactsDirectory)/product-pipeline-artifact
# Checkout set to none for all jobs afer this


  - job: BuildPackage
    dependsOn: GitPull
    steps:
      - checkout: none
      - script: echo Build Package

  - job: ZipTest
    dependsOn: BuildPackage
    steps:
      - checkout: none
      - script: echo ZipTest

  - job: UnitTest
    dependsOn: GitPull
    condition: and(succeeded(), or(eq(variables['isreleasealpha'], true),eq(variables['isreleasebeta'], true),eq(variables['isreleaserc'], true)))
    steps:
      - checkout: none
      - script: echo Unit Test

  - job: TestRun
    dependsOn: GitPull
    condition: and(succeeded(), or(eq(variables['isreleasebeta'], true),eq(variables['isreleaserc'], true)))
    steps:
      - checkout: none
      - script: echo Test Run

  - job: AcceptanceTest
    dependsOn: GitPull
    condition: and(succeeded(), eq(variables['isreleaserc'], true))
    steps:
      - checkout: none
      - script: echo Acceptance Test

  - job: DistributionArchive
    dependsOn: BuildPackage
    steps:
      - checkout: none
      - script: echo DistributionArchive



